<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link href="static/style.css" rel="stylesheet">
        {% endblock %}

        <title>Hi-CRISPR</title>
    {% endblock %}
</head>
<body id="page-top">

<!-- Your page content -->
{% block content %}{% endblock %}

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2020</p>
    </div>
</footer>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
    <script src="static/scrolling-nav.js"></script>
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
</body>
</html>